<div class="dashboard-container">
  <app-header [stats]="stats()"> </app-header>

  <app-current-temperature [value]="currentTemperature()"> </app-current-temperature>
  <button (click)="reconnect()" [disabled]="isReconnecting() || sseActive()">
    🔄 {{ isReconnecting() ? 'Reconectando...' : 'Reconnect SSE' }}
  </button>
  <app-chart-temperature [dataTemp]="temperatures()"> </app-chart-temperature>

  <div *ngIf="workerResult() !== null">
    Worker Result: <b>{{ workerResult() }}</b>
  </div>
  <button (click)="runHeavyCompute()">Run heavy compute</button>
</div>
